
body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background:#3B4664;
}
.container-wrapper{
    padding:50px;
    position:relative;
    width:500px;;
    height:350px;
    background:#3B4664;
    display:flex;
    justify-content: center;
    align-items:center;
}

.calc .keypad{
    background-color: #252d45;
}
.calc{
    background-color: #3B4664;
    width:200px;
    margin:30px auto;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 11fr;
    grid-gap:10px;
    height:350px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-58%, -65%);
}

.calc *{
    border-radius:8px;
    font-weight: bold;
}
.calc .output-field{
   color:#fff;
   background: #181f32;
   font-size:30px;
   text-align:end;
   
   border-style: none;
   display:flex;
   min-width:0;
}

.theme{
    color:#fff;
    background-color: #3B4664;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.calc-name{
    margin-right:auto;
    font-size:18px;
}
.calc-theme{
    font-size:9px;
    margin-right:5px;
    align-self:flex-end
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5,34px);
    grid-gap: 8px;
    padding:8px;
    align-content: center;
}

.keypad button:hover{
    background-color: rgba(255,255,255, 0.6);
}

.keypad *{
    border-radius:8px;
    background: rgb(234, 227, 219);
    border-style: none;
    cursor: pointer;
}


.keypad .reset{
    grid-column: 1/3;
    background:#647299;
    color:#fff;
    font-size:10px;
}

.keypad .reset:hover{
background-color: #2224aa;
border:1px solid #fff;
}

.keypad .equals{
    grid-column: 3/-1;
    background:#d13f30;
    color:#fff;
}
.keypad .equals:hover{
    background-color:#158a4a;
    
}

.keypad .del{
    background:#647299;
    color:#fff;
    font-size:10px;
}


.bar-container{
    width:40px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 15px;
}

.nums{
    font-size:10px;
    margin-left:4px;
}

.circle{
    width:10px;
    height:10px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    background:#d13f30;
    border-radius:50%;
    align-self:center;
}

.circle-wrapper{
    position:relative;
    padding:3px;
    grid-column: 1/-1;
    background:#252d45;
    /* align-self:center; */

}

 